#sidebar_close{
    height:600px;
    width:30%;
    margin-left:70%;
    border:1px solid white;
 }
 #sidebar_close{
     background-image: url("https://www.licious.in/img/rebranding/user-login.png");
     background-position: 0vh;
  background-size: cover;
 }


 #scroll{
     height:340px;
     width:80%;
     /* border:1px solid black; */
     border-radius: 15px;
     background-color: white;
     margin:auto;
     margin-top:200px;
     margin-left:30px;
 }
 #scroll h3{
     font-size:25px;
    margin-top:55px;
     margin-left:85px;
 }
#enter{
     color:grey;
     margin-left:30px;
 }
 #number{
     width:80%;
     margin:auto;
     margin-top:20px;
     margin-left:25px;
     text-align: center;
     border:0;
     box-shadow: rgba(22, 22, 24, 0.1) 0px 10px 10px -10px;
 }
 #otp{
    width:80%;
    margin:auto;
    margin-top:20px;
    margin-left:25px;
    text-align: center;
    border:0;
    box-shadow: rgba(22, 22, 24, 0.1) 0px 10px 10px -10px;
}
 button{
     height:35px;
     width:80%;
     border:0;
     margin-top:25px;
     margin-left:25px;
     background-color:Black;
     color:white;
 }
 button:hover{
     color:white;
     font-weight: bold;
     background-color: chartreuse;
     cursor: pointer;
 }

 #term{
     font-size:15px;
     margin-left:55px;
 }
 .red{
     color:red;
     margin-left:76px;
     margin-top:4px;
 }