@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Lato;
}
body {
  background: #f5f5f5;
}
#div1_ptodct {
  display: flex;
  height: 550px;
  gap: 20px;
  /* border: 1px solid black; */
  width: 80%;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 30px;
}
#div1_images {
  height: 100%;
  width: 46%;
  /* border: 2px solid black; */
  overflow: hidden;
}
#div1_images > img {
  max-width: 100%;
  max-height: 100%;
}
#div1_desction {
  width: 52%;
  border-left: 1px dashed rgb(119, 118, 118);
  padding: 10px;
}
#div1_desction h3 {
  margin-bottom: 15px;
}
#div1_desction h4 {
  margin-bottom: 15px;
}
#div1_desction p {
  line-height: 1.5;
  margin-bottom: 14px;
  margin-left: 4px;
}
#div1_weigth {
  /* margin-top: 1%; */
  margin-left: 4%;
  height: 150px;
  width: 90%;
  border: solid 1px rgb(119, 118, 118);
  border-radius: 7px;
}

#div1_weigth1 {
  height: 50%;
  width: 100%;
  border-bottom: solid 1px rgba(161, 161, 161, 0.5);
  width: 80%;
  margin-left: 10%;
  display: flex;
  gap: 10px;
}
#div1_weigth1 :nth-child(1) {
  margin-left: -20px;
  margin-top: 20px;
}
#div1_weigth1 :nth-child(2) {
  margin-top: 26px;
}
#div1_weigth1 :nth-child(3) {
  margin-left: 30%;
  margin-top: 20px;
}
#div1_weigth1 :nth-child(4) {
  margin-top: 26px;
}
#div1_weigth2 {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 10px;
}
#div1_weigth2 :nth-child(1) {
  margin-left: 25px;
  margin-top: 20px;
}
#div1_weigth2 :nth-child(2) {
  margin-top: 26px;
}
#div1_weigth2 :nth-child(3) {
  margin-left: 30%;
  margin-top: 20px;
}
#div1_weigth2 :nth-child(4) {
  margin-top: 26px;
}

#weigthLogo {
  margin-top: -10px;
  height: 30px;
  width: 30px;
}
#weigthLogo1 {
  margin-top: -10px;
  height: 30px;
  width: 30px;
}

#div3_ptodct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 100%;
  margin-left: 3%;
  white-space: nowrap;
}
#div3_cont {
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#div_3image {
  width: 100%;
  height: 280px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#div3_cont h4 {
  padding: 10px;
  overflow: hidden;
}
#div3_cont p {
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
}
#div_3wight {
  padding: 10px;
  display: flex;
  color: rgb(56, 55, 55);
}

#div3_cont h6 {
  font-size: 16px;
}
#div_3wight :nth-child(1) {
  margin-left: 1px;
}
#div_3wight :nth-child(2) {
  margin-left: 5px;
}

#div_3wight :nth-child(3) {
  margin-left: 1px;
}
#div_3wight :nth-child(4) {
  margin-left: 20%;
}
#div_3wight :nth-child(5) {
  margin-left: 5px;
}

#div_3priceCart {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  color: rgb(56, 55, 55);
  margin-top: 10px;
}
#div_3priceCart :nth-child(1) {
  color: #e41d36;
  font-size: 15px;
  margin-top: 10px;
}
#div_3priceCart :nth-child(2) {
  margin-top: 10px;
  margin-left: 5px;
}
#div_3priceCart :nth-child(3) {
  margin-top: 10px;
}
#div_3priceCart :nth-child(4) {
  margin-top: 10px;
  margin-left: 10px;
  color: grey;
}

#stylingBtn {
  display: flex;
  margin-left: 25%;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 0px;
  color: white;
  font-weight: 1000;
  margin-top: -70px;
}

#div3_cont button {
  background-color: #e41d36;
  border: none;
  padding: 10px 18px;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 5px white;
  font-weight: 1000;
}

#div1_weigthlast button {
  background-color: #e41d36;
  border: none;
  padding: 12px 20px;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 5px white 0.5;
  font-weight: 1000;
  margin-top: 12%;
  font-size: larger;
  /* padding: 20px; */
}

#div_3CartBtn1,
#div_3CartBtn3 {
  display: none;
  font-size: 3rem;
  font-weight: 700;
  font-weight: 1000;
}

#div1_weigthlast {
  margin-top: 5px;
  margin-left: 4%;
  height: 90px;
  width: 90%;
  display: flex;
  gap: 5px;
  border-bottom: solid 1px rgb(119, 118, 118);
  /* border: 1px solid brown; */
}
#div1_weigthlast2 {
  margin-left: 4%;
  height: 80px;
  width: 90%;
  display: flex;
  gap: 5px;
  /* border: 1px solid brown; */
}
#div1_weigthlastpricetag {
  margin-top: 25px;
  color: rgb(205, 36, 36);
  font-weight: 9000;
}
#div1_weigthlastprice {
  font-size: 42px;
  font-weight: 9000;
  color: rgb(204, 34, 34);
}
#stylingBtn1 {
  margin-left: 30%;
}
#div_3CartBtn4,
#div_3CartBtn6 {
  display: none;
  font-size: 3rem;
  font-weight: 700;
  font-weight: 1000;
  margin-left: 4px;
  margin-right: 4px;
}

/* --------------------------------------------------------------------------------------------- */

#slideNews {
  gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}
#slideNews {
  display: flex;
  overflow-y: scroll;
  overflow-y: hidden;
  scroll-behavior: unset;
}
#slideNews::-webkit-scrollbar {
  display: none;
}
#prev_home,
#next_home {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 180px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-right: 5%;
  margin-left: 0%;
  border: none;
  color: black;
}

#next_home {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev_home:hover,
#next_home:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#slideNews1 {
  gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
#slideNews1 {
  display: flex;
  overflow-y: scroll;
  overflow-y: hidden;
  scroll-behavior: unset;
}
#slideNews1::-webkit-scrollbar {
  display: none;
}
#prev_home1,
#next_home1 {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 180px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-right: 5%;
  margin-left: 0%;
  border: none;
  color: black;
}

#next_home1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev_home1:hover,
#next_home1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#Licious {
  display: flex;
  gap: 60px;
  margin-bottom: 5%;
  background-color: white;
  padding: 40px;
}
#Licious img {
  height: 150px;
}
#div2_name {
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-family: Lato;
  font-weight: 400;
  color: #6d6e71;
  background-color: #fff;
  padding: 10px;
}
#div2_clor {
  font-family: Lato;
  font-weight: 700;
  color: red;
}
#div2_slidename {
  margin-left: 5%;
  margin-bottom: 1.5%;
  font-weight: 900;
}
#div4_heading {
  text-align: center;
  position: relative;
  z-index: 0;
}
#div4_heading > {
  width: 45px;
}
#div4_heading > h3 {
  font-size: 26px;
  margin-top: 5px;
  font-weight: 900;
  color: #4a4a4a;
}
#div4_heading > p {
  font-size: 14px;
  color: #4a4a4a;
  width: 60%;
  margin: 0 auto;
}
#div4_heading > a {
  color: rgb(212, 26, 26);
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  margin-bottom: 20px;
}
#headerPopup {
  width: 75%;
  margin: 0 auto;
}

#headerPopup iframe {
  width: 100%;
  margin: 0 auto;
}
#div1_video {
  margin-top: -126.5%;
  margin-left: 50%;
}
#headerVideoLink {
  color: #e41d36;
  font-size: larger;
  font-weight: bold;
}
#fa-circle-play {
  background-color: #e41d36;
}
#div1_weigthlast2 p {
  /* margin-top: 20px; */
  font-weight: bold;
  margin-top: 5%;
}
#div1_weigthlast2 > img {
  margin-top: 10px;
  height: 40px;
  margin-left: 56%;
}
#div4_dataNmae {
  display: flex;
  border-radius: 20px;
}
#div4_dataNmae > img {
  height: 24px;
  border-radius: 20px;
}
#div4_dataNmae :nth-child(1) {
  height: 40px;
  border-radius: 20px;
  margin-left: 0px;
}
#div4_dataNmae :nth-child(2) {
  height: 1px;
  margin-left: 10px;
  margin-top: 8px;
}
#div4_dataNmae :nth-child(3) {
  margin-left: 70px;
  margin-top: 8px;
}
#div4_dataNmae :nth-child(4) {
  margin-top: 10px;
  color: #e41d36;
  font-size: 16px;
  margin-left: 4px;
}
#div4_datapara {
  margin-left: 4px;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
#div4_dataparaimage {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#div4_dataparaimage > img {
  width: 20px;
  margin-left: 20px;
}
#div4_socailmedia {
  display: flex;
  gap: 25px;
  width: 66.1%;
  border: 5px solid black;
  overflow: hidden;
  margin-left: 17%;
}
#div4_cont {
  height: 450px;
  width: 690px;
  gap: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
#socailmedaiIMage {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

/* !----------------------------------------------------------------------------------------------------------- */

#slideShow {
  height: 600px;
  width: 550px;
  /* border: 1px solid black; */
  margin-top: -41%;
  margin-left: 8.5%;
}
#slideshowcontant {
  height: 50%;
  width: 87%;
  /* border: 2px solid blue; */
  margin-left: 7%;
}
.mySlidespages > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.SlideShowdot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 10%;
}

.active {
  background-color: #717171;
}

/* //-------------------------------------------------------------------------------------------------- */

#div_3CartBtn7 {
  background-color: #e41d36;
  border: none;
  padding: 10px 18px;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 5px 5px white;
  font-weight: 1000;
}

#stickyLogoEntirePage {
  position: fixed;
  left: 15px;
  bottom: 60px;
  width: 100px;
  cursor: pointer;
  z-index: 104;
}

#FloatCart_page {
  background-color: white;
  border: 0.5px solid rgba(161, 161, 161, 0.5);
  position: fixed;
  height: 130px;
  left: 4.2%;
  bottom: 60px;
  width: 78%;
  cursor: pointer;
  z-index: 104;
  margin-left: 7%;
}
/* ----------------------------------------------------------- */
#bikelogosantosh {
  display: flex;
  height: 40px;
  padding: 4px;
  margin-top: 10px;
  gap: 22px;
  border-top: solid 1.5px rgb(119, 118, 118);
  width: 80%;
  margin-left: 5%;
}
#bikelogosantosh > img {
  margin-left: 20%;
}
#bikelogosantosh > p {
  font-weight: 700;
}

#stickeyCar1 {
  display: flex;
  gap: 10px;
}
#stickeyCar1 > img {
  height: 105px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
#stickeyCar1 > p {
  margin-left: 10px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 18px;
}
#stickeyCar1 > h1 {
  margin-top: 8px;
  color: #e41d36;
}

#stickeyCar1 > button {
  margin-left: 18%;
  height: 50px;
  background-color: #e41d36;
  border: none;
  padding: 10px 25px;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 0.5px 5px 5px white;
  font-weight: 1000;
  cursor: pointer;
  margin-top: 20px;
}
#stickeyCart2 {
  display: flex;
  gap: 30px;
  margin-left: 34%;
  width: 40%;
  border-top: solid 1.5px rgb(119, 118, 118);
  margin-top: -4%;
  padding: 14px;
}
#stickeyCart2 > img {
  margin-left: 20%;
}
