
#navbar{
    height:80px; width:auto; 
    /* border:1px solid black; */
    justify-content:space-around;
    align-items: flex-end;
    display:flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#logo{
    margin-left:25px;
    margin-top:20px;
    margin-bottom:-15px;
}
#tag{
    width:90px;
    margin-bottom:25px;
    border:0;
}
#tag:hover{
    color:green;
    border:0;
}
#licious_logo{
height:50px;width:100px;
margin-bottom:20px;
}
#search_bar{
    height:35px; width:28%; text-align: center;
    border:0;
    margin-bottom:20px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius:5px;
}

/* dropdown content  */
#cate{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top:25px;
}
#cat{
    margin-bottom:20px;

}

/* dropDown content  */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 22px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    float: none;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content>a>img{
    height:30px;
    width:30px;
    margin-left:12px;
    margin-right:8px;
}
 .dropbtn {
    color:black;
    margin-bottom:30px;
 }
 .dropbtn:hover{
  cursor:pointer;
 }

#cs_login{
    display: flex;
    margin-bottom:20px;
}
#account{
  height:30px;
  width:30px;
}
#add_to_cart{
display: flex;

}
#cart{
    margin-bottom:10px;
    height:30px; width:35px;
}
#bag{
    margin-top:8px;
    margin-left:5px;
}
*{
    text-decoration: none;
    color:black;
    margin:0;
    padding:0;
    font-family:arial;
}